body {
  background-color: #EDEBED;
}

/* ヘッダー */
.bg-main-color {
  background-color: #97CAD3;
  padding: 16px 0;
}

.navbar-title {
  margin: 0 auto;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  /* 8 10 12 14 20 24 28  32  */
  font-family: 'M PLUS 1', sans-serif;
}

.navbar-brand :hover{
  color: #EDEBED;
}

/* メイン */
main {
  background-color: white;
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}

/* 使用方法 */
#usage {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 3px #EDEBED;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px 0;
  width: 540px;
}

/* 使い方説明 */
#usage > h2 { 
  text-align: center;
  color: #E6553D;
  font-size: 20px;
  
}

#usage ol {
  color: black;
  line-height: 1.5rem;
}

/* 翻訳 */
#analysis {
  background-color: #EDEBED;
  margin: 60px;
}

.flexbox-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/* 画像挿入 */
#preview-content {
  margin: 40px 20px;
}

#preview-content > h2 {
  color:#E6553D;
  font-size: 18px;
  text-align: center;
}

#preview {
  background-color: white;
  width: 350px;
  height: 450px;
  border: solid 3px #EDEBED;
}

/* 各選択ボタン */
#select-botton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 100px auto;
  width: 200px;
  height: 400px;
}

.button-design,.function-select {
  background-color: white;
}

.button-design {
  width: 160px;
  height: 40px;
}


/* 各ボタンにホバー設定 */
.button-design:hover,
.function-select:hover {
  background-color: #97CAD3;
  color: white;
}

/* 画像挿入ボタン */

/* 保存・形式ボタン */
.function-select {
  font-size: 12px;
  width: 175px;
  height: 40px;
}


/* 翻訳結果画面 */
#analysis-content {
  margin: 40px 20px;
}

#analysis-content > h2 {
  font-size: 18px;
  color: #E6553D;
  text-align: center;
}

#result_text {
  background-color: white;
  width: 350px;
  height: 450px;
  border: solid 3px #EDEBED;
}

/* フッター */
footer {
  background-color: #97CAD3;
  padding: 40px 0;
}

footer > div {
  text-align: center;
}

footer p {
  margin: 0;
}